@import 'nib'

darkest = #1C1F26
dark = #232830
halfDark = rgba(35,40,48,0.5)
medium = rgba(43,48,59,1)
halfMedium = rgba(43,48,59,0.5)
select = #3D4550
text = rgb(192,197,206)
halfText = rgba(192,197,206,0.5)
minimumText = rgba(192,197,206,0.2)

::-webkit-scrollbar
  display none

html, body
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background darkest
  font 14px/normal 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
  overflow hidden
  padding 0
  margin 0
a
  color inherit
  text-decoration none