@import 'nib'

darkest = #1C1F26
dark = #232830
halfDark = rgba(35,40,48,0.5)
medium = rgba(43,48,59,1)
halfMedium = rgba(43,48,59,0.5)
select = #3D4550
text = rgb(192,197,206)
halfText = rgba(192,197,206,0.5)
minimumText = rgba(192,197,206,0.2)

::-webkit-scrollbar
  display none

html, body
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background darkest
  font 14px/normal 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
  overflow hidden
  padding 0
  margin 0
a
  color inherit
  text-decoration none

.navigation
  position fixed
  top 0
  right 80%
  bottom 0
  left 0
  color text
  background-color dark
  overflow-x hidden
  overflow-y auto
  //Allow for overflow scrolling
  padding-bottom 1000px

.navigationItem
  display block
  color halfText
  min-height 36px
  line-height 36px
  cursor pointer
  &.h1
  	padding-left 10px
  	font-weight bold
  	color text
  	&.active
    	background-color medium
  &.h2
  	padding-left 30px
  &.h3
  	padding-left 50px
  &.h4
  	padding-left 70px
  &.h5
  	padding-left 90px
  &.h6
  	padding-left 110px
  &.untitled
  	font-weight normal
  	font-style italic
  	color minimumText
  &.active
    background-color halfMedium

.editor, #editor
  position fixed
  top 0
  right 40%
  bottom 0
  left 20%
  color text
  background medium
  font inherit
  line-height 1.5
  cursor text

#editor
  background-color transparent
  margin-left 1.5em
  margin-right 1.5em
  overflow hidden

.ace_scrollbar
  display none

//Customize selected color
.ace-tm .ace_marker-layer .ace_selection, .ace-monokai .ace_marker-layer .ace_selection
	background #3D4550!important
	opacity 1

.output
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  color text
  padding 1em 1.5em 1em 1.5em
  overflow-x hidden
  overflow-y auto
  -webkit-backface-visibility hidden
  -webkit-transform translateZ(0)
  margin-left 60% //Addressed weird fullscreen quirk when resizing maps

.code
  padding 1em 1.5em 1em 1.5em
  background-color dark
  display block

//Output Customization
img
	width 100%
.video, .map
  position relative
  padding-bottom 56.25% /* 16:9 */
  padding-top 25px
  height 0
  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    frameborder 0
    border none
blockquote
  background-color dark
  border-left 10px solid halfMedium
  margin 0 -21px 0 -21px
  padding 10px 40px 10px 30px
  p
    opacity 0.7
p
  line-height 1.7

//Fullscreen
.map:-webkit-full-screen
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  padding 0
  height 100%

.output:-webkit-full-screen
  position fixed
